USE [master]
GO
/****** Object:  Database [eticaretdb]    Script Date: 12.12.2024 19:10:46 ******/
CREATE DATABASE [eticaretdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eticaretdb', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\eticaretdb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eticaretdb_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\eticaretdb_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eticaretdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eticaretdb]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 12.12.2024 19:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[kuser] [nvarchar](50) NULL,
	[kpass] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 12.12.2024 19:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([AdminId], [kuser], [kpass]) VALUES (1, N'Zafer', N'123456')
INSERT [dbo].[admin] ([AdminId], [kuser], [kpass]) VALUES (2, N'Mikail', N'789')
INSERT [dbo].[admin] ([AdminId], [kuser], [kpass]) VALUES (4, N'Murat', N'789')
SET IDENTITY_INSERT [dbo].[admin] OFF
USE [master]
GO
